body {
  color: #333;
  font-family: 'Lato', sans-serif;
}

a { color: #64C5AE; }
a:hover { color: #805281; }
hr { border-bottom-color: #805281; }
.text-center { text-align: center; }

.calc-title {
  color: #64C5AE;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.calc-row {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .625rem;
}

.calc-controls .calc-controls__item {
  width: 100%;
}

.calc-controls__label {
  color: #805281;
  font-size: 1.2rem;
  display: block;
  padding: 1rem 0;
}

.calc-controls__input {
  background-color: transparent;
  border-top: .2rem solid #64C5AE;
  border-bottom: .2rem solid #64C5AE;
  border-left: none;
  border-right: none;
  font-size: 1.2rem;
  color: #805281;
  min-height: 3rem;
  width: 100%;
}

.calc-controls__input:focus {
  outline: none;
  box-shadow: 0 0 .4rem rgba(0,0,0,.3);
}

.calc-messages .calc-messages__message {
  font-size: 1rem;
  padding: .625rem 0;
  line-height: 1.4rem;
  text-align: center;
  width: 100%;
}

.calc-messages .calc-messages__months {
  font-size: 1.4rem;
  display: inline-block;
  min-width: 5rem;
  font-weight: bold;
  color: #805281;
  background-color: #64C5AE;
  border-radius: .2rem;
  padding: .4rem 0;
  box-shadow: 0 0 .4rem rgba(0,0,0,.3);
  cursor: default;
  animation: bounce-out .3s 1 forwards ease-in-out;
}

.calc-messages .calc-messages__months:hover {
  animation: bounce-in .3s 1 forwards ease-in-out;
}

@keyframes bounce-in {
  0% { transform: scale(1); }
  20% { transform: scale(.8); }
  80% { transform: scale(1.4); }
  100% { transform: scale(1.2); }
}

@keyframes bounce-out {
  0% { transform: scale(1.2); }
  20% { transform: scale(1.4); }
  80% { transform: scale(.8); }
  100% { transform: scale(1); }
}

.calc-communication {
  font-size: 1rem;
  line-height: 1.4rem;
}

.calc-links {
  display: flex;
  flex-direction: column;
}

.calc-links .calc-links__link {
  padding: .625rem 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.calc-footer {
  font-size: .8rem;
  line-height: 1.4rem;
  color: #805281;
  margin-top: 4rem;
}

@media screen and (min-width: 40em) {
  .calc-controls {
    justify-content: space-around;
  }

  .calc-controls .calc-controls__item {
    width: 28%;
  }

  .calc-messages .calc-messages__message {
    text-align: left;
  }
}

@media screen and (min-width: 64em) {
  .calc-messages .calc-messages__message {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .calc-messages .calc-messages__months {
    font-size: 1.6rem;
  }
}